:root {
    --primary: #222222;
    --secondary: #1E87F0;
    --warning: #F0506E;
    --white: #FFFFFF;
}

html {
    font-family: 'Roboto', sans-serif;
    font-size: 16px;

}

html, body {
    margin: 0;
}

a {
    text-decoration: inherit;
    color: inherit;
}

table tr > td:last-child {
    text-align: right;
}

.container {
    margin: 0 auto;

}

/* ------------------------- */

@media only screen and (max-width: 992px) {
    .container    {
        width: 90%;
    }
}

@media only screen and (min-width: 992px) {
    .container     {
        width: 80%;
    }
}

@media only screen and (min-width: 1200px) {
    .container  {
        width: 50%;
    }
}


/* ------------------------- */

#page-nav {
    padding: 0px;
    text-align: center;


}

#nav-row {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #3d8bd0;
    width: 100%;
    margin: 0;

}


.nav-item {
    padding: 15px 15px;
    text-transform: uppercase;
    font-weight: 600;
    font-size: medium;
    color: aliceblue;
    gap: 50px;
}

.logo-link {
    display: flex;
    align-items: center;
}

#logo-image {
    max-width: 100%;
    height: auto;
    max-height: 50px; /* Maksymalna wysokość logo */
    object-fit: contain;
}


.strip {
    background-color: #265c86;
    height: 10px;
    width: 100%;
}

p {
    text-align: center;
    font-size: medium;
    font-weight: 600;
    margin: 15px;

}

/* ------------------------- */

.footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 10px 0;
    position: relative;
    bottom: 0;
}

.footer p {
    margin: 0;
}

.energy-image {
    display: block;
    margin: auto;
    max-height: 10%;
    width: 10%;
}


/* ------------------------- */

section {
    margin: 30px 0;
}

.btn {
    background-color: #3d8bd0;
    padding: 15px;
    text-transform: uppercase;
    color: var(--white);
    font-weight: 200;
    border: none;
    cursor: pointer;
    font-size: 1em;
    border-radius: 8px;
}

.btn-sm {
    padding: 5px 15px;
    font-size: 0.8em;
}

.input, .textbox {
    border: 1px solid var(--primary);
    padding: 15px;
    width: 100%;
    box-sizing: border-box;
}

input:hover,
input:focus {
    border-color: #66afe9;
}

.image {
    display: block;
    max-width: 35%;
    height: auto;
    margin: auto;
}

select {
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

select:hover,
select:focus {
    border-color: #66afe9;
}



/* ------------------------- */
/* Home Page */

#home-page-content .container div {
    margin: 50px 0;
    text-align: center;
}

#home-page-content .button-row {
    display: flex;
    flex-direction: row;
    justify-content: center;
}



#home-page-content h2 {
    font-size: 2em;
}





/* ------------------------- */
/* Partner Page */


#partner-page-content  .form-row {
    display: flex;
    justify-content: space-between;
    margin-bottom: 15px;
    align-items: center;

}

#partner-page-content .form-field {
    flex: 1;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-right: 10px;
    width: 450px;
}

#partner-page-content .half-width {
    flex: 1;
    width: 50%;

}


#partner-page-content .img-left {
    flex: 1;
    display: flex;
    justify-content: flex-end;
}

#partner-page-content .image-worker {
    max-width: 80%;
    height: auto;
}


#partner-page-content #calc-page-content .input {
    width: 100%; /* Szerokość 100% grupy inputów */
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 5px;
}



#partner-page-content .error-msg {
    font-size: 0.8em;
    color: var(--warning);
    padding: 3px 0;
}

/* ------------------------- */
/* InformationPage */

#information-page-content .image-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 30px;
}

#information-page-content .image-container img {
    max-width: 100%; /* Maksymalna szerokość obrazka */
    height: auto; /* Automatyczna wysokość proporcjonalna */
    margin-bottom: 10px; /* Odstęp między obrazkami */
    transform: scale(0.8); /* Zmniejszenie obrazka o 20% */
    transition: transform 0.3s ease; /* Płynna animacja transformacji */
}

#information-page-content .image-container img:hover {
    transform: scale(1); /* Przywrócenie normalnej wielkości po najechaniu myszą */
}


.slider-container {
    display: flex;
    align-items: center;
}

.slider {
    width: 300px;
    margin-right: 10px;
}

.slider-value {
    width: 60px;
    padding: 5px;
    text-align: center;
}