:root {
    --primary: #222222;
    --secondary: #1E87F0;
    --warning: #F0506E;
    --white: #FFFFFF;
}

html {
    font-family: Arial, sans-serif;
    font-size: 16px;

}

html, body {
    margin: 0;
}

a {
    text-decoration: inherit;
    color: inherit;
}

table tr > td:last-child {
    text-align: right;
}

.container {
    margin: 0 auto;

}

/* ------------------------- */

@media only screen and (max-width: 992px) {
    .container    {
        width: 90%;
    }
}

@media only screen and (min-width: 992px) {
    .container     {
        width: 80%;
    }
}

@media only screen and (min-width: 1200px) {
    .container  {
        width: 50%;
    }
}


/* ------------------------- */

#page-nav {
    padding: 0px;
    text-align: center;


}

#nav-row {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #3d8bd0;
    width: 100%;
    margin: 0;

}

.nav-button {
    display: inline-block;
    padding: 8px 15px;
    background-color: #265c86;
    color: var(--white);
    border-radius: 20px;
    text-align: center;
    transition: background-color 0.3s ease, transform 0.3s ease;
}

.nav-button:hover {
    background-color: #1E2A44;
    transform: scale(1.05);
    cursor: pointer;
}

.nav-item {
    padding: 15px 15px;
    text-transform: uppercase;
    font-weight: 600;
    font-size: medium;
    color: aliceblue;
    gap: 50px;
}

.logo-link {
    display: flex;
    align-items: center;
}

#logo-image {
    max-width: 100%;
    height: auto;
    max-height: 50px;
    object-fit: contain;
}


.strip {
    background-color: #265c86;
    height: 10px;
    width: 100%;
}

p {
    text-align: center;
    font-size: medium;
    font-weight: 600;
    margin: 15px;

}

/* ------------------------- */

.footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding-right: 300px;
    padding-left: 300px;
    display: flex;
    flex-direction: row;
    align-items: center;
    min-height: 150px;

}

.footer-links {
    display: flex;
    flex-grow: 1;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.footer-links p a {
    font-size: 15px;
    text-align: left;
}




.energy-image-container{
    display: flex;
    align-items: center;
    justify-content: center;
}

.energy-image {
    max-width: 100px;
    height: auto;
}


/* ------------------------- */

section {
    margin: 30px 0;
    min-height: 74vh;
}



.btn:hover {
    background-color: #1E2A44;
}

.btn {
    background-color: #283B5E;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
}

.btn-sm {
    background-color: #283B5E;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 5px 15px;
    font-size: 0.8em;
}

.input, .textbox {
    border: 1px solid var(--primary);
    padding: 15px;
    width: 100%;
    box-sizing: border-box;
}

input:hover,
input:focus {
    border-color: #66afe9;
}

.image {
    display: block;
    max-width: 35%;
    height: auto;
    margin: auto;
}

select {
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

select:hover,
select:focus {
    border-color: #66afe9;
}



/* ------------------------- */
/* Home Page */

#home-page-content .container div {
    margin: 50px 0;
    text-align: center;
}

#home-page-content .button-row {
    display: flex;
    flex-direction: row;
    justify-content: center;
}



#home-page-content h2 {
    font-size: 2em;
}

.img-worker-container{
    display: flex;
    align-items: center;
    justify-content: center;
}

.image-worker {
    max-width: 50%;
    height: auto;
}


/* ------------------------- */
/* Partner Page */

#form-container{
    align-items: center;
    width: 450px;
}

#partner-page-content .form-row {
    display: flex;
    justify-content: space-between;
    margin-bottom: 15px;
    align-items: center;
    width: auto;
}

#partner-page-content .form-field {
    flex: 1;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-right: 10px;
    width: auto;
}

#partner-page-content .half-width {
    flex: 1;
    width: 50%;
}


#partner-page-content #calc-page-content .input {
    width: 100%;
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

#partner-page-content .error-msg {
    font-size: 0.8em;
    color: var(--warning);
    padding: 3px 0;
}

/* ------------------------- */
/* InformationPage */

#information-page-content .image-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 30px;
}

#information-page-content .image-container img {
    max-width: 100%;
    height: auto;
    margin-bottom: 10px;
    transform: scale(0.8);
    transition: transform 0.3s ease;
}

#information-page-content .image-container img:hover {
    transform: scale(1);
}

/* ------------------------- */
/* CalcPage */

#calc-page-content .form-row {
    width: 100%;
    margin: 0 auto;
    border: 1px solid #ccc;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

#calc-page-content .form-field {
    margin-bottom: 15px;
}

#calc-page-content .input {
    width: 100%;
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 5px;
}
#calc-page-content label {
    font-weight: bold;
    display: block;
    margin-bottom: 5px;
}

input[type="text"],
input[type="number"],
input[type="email"],
input[type="password"],
select {
    width: 100%;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 5px;
}


.slider-container {
    display: flex;
    align-items: center;
}

.slider {
    width: 70%;
    margin-right: 10px;
}

.slider-value {
    width: 30px;
    padding: 5px;
    text-align: center;
    background-color: #f0f0f0;
    border-radius: 5px;
    border: 1px solid #ccc;
}


h2 {
    margin-top: 20px;
    margin-bottom: 20px;
    font-size: 1.2rem;
    text-align: center;
}

.results {
    margin-top: 15px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #f9f9f9;
}



/* ------------------------- */
/* DataBasePage */

.custom-table {
    width: 100%;
}

/* Stylizacja wierszy tabeli */
.custom-table tbody tr:nth-child(even) {
    background-color: #71aee0;
}

/* Stylizacja nagłówków kolumn */
.custom-table thead th {
    background-color: #333;
    color: white;
}

.table-name {
    display: block;
    margin-bottom: 0.5em;
}

.custom-table tbody tr:hover {
    background-color: #f0f0f0;
    cursor: pointer;
}

/* ------------------------- */
/* Client Page */

#form-container{
    align-items: center;
    width: 450px;
}

#client-page-content .form-row {
    display: flex;
    justify-content: space-between;
    margin-bottom: 15px;
    align-items: center;
    width: auto;
}

#client-page-content  .form-field {
    flex: 1;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-right: 10px;
    width: auto;
}



#client-page-content .input {
    width: 100%;
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

#client-page-content  .error-msg {
    font-size: 0.8em;
    color: var(--warning);
    padding: 3px 0;
}

/* ------------------------- */
/* login Page */
.login-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 300px;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 10px;
    background-color: #fff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.login-form input {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
}


.login-form p {
    color: red;
    margin-top: 10px;
    font-size: 14px;
}