<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org" th:replace="~{fragments/layout :: template (~{:: #admin-page-content})}">
<section id="admin-page-content">
  <div class="container">
    <h2>Welcome to the Admin Panel</h2>
    <p th:if="${loggedInUser}">Jesteś zalogowany na koncie:  <span th:text="${loggedInUser}"></span></p>

    <button class="btn" type="button" onclick="window.location.href='/logout'">Wyloguj</button>

    <h2>Baza potencjalnych klientów</h2>


    <div  class="table-responsive">
      <table class="table custom-table">
        <tr>
          <th>Imię</th>
          <th>Numer telefonu</th>
          <th>Branża która cię interesuje</th>
          <th>Twoja lokalizacja </th>

        </tr>
        <tr th:each="client : ${clients}">
          <td th:text="${client.clientName}"></td>
          <td th:text="${client.phoneNumber}"></td>
          <td>
        <span th:each="industry : ${client.industryEnumClient}">
            <span th:text="${industry.getText()}"></span>
            <br/>
        </span>
          </td>
          <td th:text="${client.regionEnumClient.getDisplayName()}"></td>
          <td>
            <form method="post" action="/admin/deleteClient">
              <input type="hidden" name="clientId" th:value="${client.id}" />
              <button class="btn-sm" type="submit">Delete</button>
            </form>
          </td>
        </tr>
      </table>

    </div>


    <h2>Baza potencjalnych partnerów </h2>

    <div class="table-responsive">
      <table class="table custom-table">
        <thead>
        <tr>
          <th>Business Name</th>
          <th>Street</th>
          <th>Email</th>
          <th>NIP</th>
          <th>City</th>
          <th>Postal Code</th>
          <th>Industry</th>
          <th>Operating Region</th>
          <th>Edit</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="partner : ${partners}">
          <td th:text="${partner.businessName}"></td>
          <td th:text="${partner.street}"></td>
          <td th:text="${partner.mail}"></td>
          <td th:text="${partner.NIP}"></td>
          <td th:text="${partner.city}"></td>
          <td th:text="${partner.postalCode}"></td>
          <td>
        <span th:each="industry : ${partner.industryEnum}">
            <span th:text="${industry}"></span>
            <br/>
        </span>
          </td>
          <td>
        <span th:each="region : ${partner.regionEnum}">
            <span th:text="${region}"></span>
            <br/>
        </span>
          </td>

          <td>
            <form method="post" th:action="@{/admin/deletePartner}">
              <input type="hidden" name="partnerId" th:value="${partner.id}" />
              <button type="submit" class="btn btn-danger">Usuń</button>
            </form>
          </td>

        </tr>
        </tbody>
      </table>
    </div>

  </div>


</section>
</html>