<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org"
      th:replace="~{fragments/layout :: template (~{:: #calc-page-content})}">
<section id="calc-page-content">
    <div class="container">

        <div>
            <h2>Kalkulator</h2>
            <p>Oblicz zapotrzebowanie na moc kotła.
            </p>
        </div>
        <div class="form-row">
            <div>
                <form action="/calc" th:object="${calculationModel}" method="post">

                    <div class="form-field">
                    <label for="calculationYearEnum">Wybierz rok budowy domu</label>
                    <select id="calculationYearEnum" name="calculationYearEnum" th:field="*{calculationYearEnum}" required>
                        <option th:each="year : ${T(pl.thermo.thermo.models.CalculationYearEnum).values()}"
                                th:value="${year}" th:text="${year.getText()}"></option>
                    </select> <br>
                    </div>

                    <div class="form-field">
                    <label for="area">Powierzchnia ogrzewana domu:</label>
                    <input type="text" id="area" name="area" th:field="*{area}" required><br>
                    </div>

                    <div class="form-field">
                    <label for="people">Ilość osób:</label>
                    <input type="number" id="people" name="people" th:field="*{people}" required><br>
                    </div>

                        <div class="form-field">
                    <label>Zużycie cwu:</label>
                    <input type="range" id="expenditureRange" name="expenditure" th:field="*{expenditure}" min="40" max="130" required>
                    <input type="number" id="expenditureValue" name="expenditureValue" th:field="*{expenditure}" min="40" max="130" required><br>
                        </div>

                    <div>
                        <button type="submit" class="btn">Oblicz</button>
                    </div>



                    <div class="results">
                        <h2>Wyniki:</h2> <br>
                        <p>Ilość kW CO: <span th:text="${calculationModel.resultCO}"></span></p>
                        <p>Ilość kW CWU: <span th:text="${calculationModel.resultCWU}"></span></p>
                        <p>Ilość potrzebna na cele grzewcze: <span th:text="${calculationModel.resultSum}"></span></p>
                    </div>
                </form>
            </div>
            <div class="img-worker-container">
                <img class="image-worker" th:src="@{/img/heating.jpg}" alt="heating">
            </div>
        </div>
    </div>
    </div>
</section>

</html>