<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org"
      th:replace="~{fragments/layout :: template (~{:: #client-page-content})}">
<section id="client-page-content">
    <div class="container">

        <div>
            <h2>Potrzebujesz pomocy</h2>
            <p>Jeśli czujesz się zagubiony, nie znasz się na ogrzewnictwie ani nie masz pojęcia jak wygladają prace
                termomodernizacyjne, możemy Ci pomóc. Jeśli potrzebujesz pomocy, chcesz żeby ktoś zaopiekował się
                twoimi sprawami, żeby przeprowadził Cię za rękę przez cały proces od początku do końca oraz żeby zajął
                się wszystkimi sprawami dokumentacyjnymi, to dobrze trafiłeś.
                Z naszym profesjonalnym zespołem wykonamy audyt energetyczny, określimy dokładnie twoje zapotrzebowanie
                na ciepło, obliczymy odpowiednią grubość docieplenia oraz zaproponujemy inne prace mające na celu
                poprawę
                energetyczną twojego budynku. Kolejnym krokiem będzie pozyskanie dotacji z programu Czyste Powietrze, a
                następnie zaproponujemy odpowiedniego wykonawcę spełniającego Państwa wymagania.
                Po wykonaniu prac rozliczymy dotację oraz dopilnujemy aby środki trafiły na Państwa konto.

                Jeśli szukasz właśnie takiej pomocy wypełnij poniższy formularz zostawiając swoje dane do kontatku.
                Oddzwonimy!

            </p>
        </div>

        <div class="form-container">
            <form th:action="@{/saveclient}" th:object="${client}" method="post">

                <div class="form-field">
                    <span>Wybierz co planujesz zmodernizować w swoim domu </span>
                    <div>
                        <label th:each="industry : ${T(pl.thermo.thermo.models.IndustryEnum).values()}"
                               class="checkbox-label">
                            <input type="checkbox" th:field="*{industryEnumClient}" th:value="${industry}"/>
                            <span th:text="${industry.getText()}"></span>
                        </label>
                    </div>
                </div>

                <div class="form-field">
                    <div class="form-field">
                        <label for="regionEnumClient">Wybierz swoją lokalizację:</label>
                        <select id="regionEnumClient" th:field="*{regionEnumClient}" class="input">
                            <option th:each="region : ${T(pl.thermo.thermo.models.RegionEnum).values()}"
                                    th:value="${region}" th:text="${region.getDisplayName()}"></option>
                        </select>
                    </div>
                </div>

                <div class="form-field">
                    <input th:field="*{clientName}" placeholder="Imię" type="text" class="input"/>
                    <span class="error-msg" th:if="${#fields.hasErrors('clientName')}">Nazwa powinna mieć długość od 2 do 40 znaków.</span>
                </div>

                <div class="form-field">
                    <input th:field="*{phoneNumber}" type="number" id="phoneNumber" name="phoneNumber" class="input"
                           placeholder="Numer telefonu">
                    <span class="error-msg" th:if="${#fields.hasErrors('phoneNumber')}">Numer telefonu powinien mieć 9 cyfr</span>
                </div>

                <div class="form-row" style="margin-top: 15px">
                    <button class="btn">Zapisz</button>
                </div>
            </form>
        </div>


        <div class="img-worker-container">
            <img class="image-worker" th:src="@{/img/save-money.jpg}" alt="client">
        </div>
    </div>
</section>
</html>