<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org"
      th:replace="~{fragments/layout :: template (~{:: #database-page-content})}">
<section id="database-page-content">
    <div class="container">

        <div>
            <h2>List Partnerów</h2>
            <p>Jesteś wykonawcą budowlanym lub instalacyjnym? Zostaw namiar na swoją firmę
                a trafisz do naszej bazy sprawdzonych wykonawców. Wypełnij formularz kontaktowy
                wraz z zakresem prac który Cię interesuje.
            </p>
        </div>

        <div  class="table-responsive">
            <table class="table custom-table">
                <thead>
                <tr>
                    <th>Nazwa firmy</th>
                    <th>Ulica</th>
                    <th>Email</th>
                    <th>NIP</th>
                    <th>Miasto</th>
                    <th>Kod pocztowy</th>
                    <th>Branża</th>
                    <th>Region działalności</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="partner : ${partners}">
                    <td th:text="${partner.businessName}"></td>
                    <td th:text="${partner.street}"></td>
                    <td th:text="${partner.mail}"></td>
                    <td th:text="${partner.NIP}"></td>
                    <td th:text="${partner.city}"></td>
                    <td th:text="${partner.postalCode}"></td>
                    <td>
                        <span th:each="industry : ${partner.industryEnum}" th:text="${industry.getText() }" class="table-name"></span>
                    </td>
                    <td>
                        <span th:each="region : ${partner.regionEnum}" th:text="${region.getDisplayName()}" class="table-name"></span>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>

</section>

</html>